@{
    ViewData["Title"] = "TUTORIAL";
}
<h1>@ViewData["Title"]</h1>

<html>

    <head>
        <title> Sala de escape </title>  
		<link rel="stylesheet" type="text/css" href="site.css">
    </head>

    <body class="fondoRojoTutorial">
        <div class="contenedorGeneral">
            <p class="texto">
                Creadores: Luciano Neiman, Brian Quindi y Alex Kujawski
            </p>
            <p class="texto">
               Bienvenidos a la sala de escape "Una Noche en el Museo". Esta se basa en los hechos de la película de mismo nombre, en la cual trabajás de seguridad durante la madrugada en un museo de ciencias naturales situado en parque centenario y tendrás que esperar al día siguiente para irte y con todo en su orden. En el trayecto descubrís que este museo no era uno común y corriente... 
                A lo largo del juego vas a tener que averiguar una solución a las problemáticas planteadas para poder pasar de habitación, seguir con vida y escapar.  
                La solución ¿Será en números o será en letras? ¡Vas a tener que averiguarlo, Buena suerte y le deseamos que escape con vida!
            </p>
            <p class="texto">Algunos de los momentos del juego:</p>
            <div>
                <img class="img-tutorial" src="/Fotos/SeccionGeneralDinosaurios.jpg">
                <img class="img-tutorial" src="/Fotos/representacionOso.jpg">
                <img class="img-tutorial" src="/Fotos/representacionAves.jpg">
            </div>
	       
        </div> 
        <audio class="audioTerror" controls autoplay=true>
            <source src="/Fotos/musicaTerror.mp3" type="audio/mp3">     
        </audio>
    </body>

</html>


